body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-weight: 900;
    font-size: 1.5rem;
}

nav {
    background-color: #0066B3;
    position: fixed;
}

.nav_text {
    display: inline-block;
    margin-right: 50px;
    font-size: large;
}

.nav-text {
    margin-right: 2rem;
}

.nav-bar-imgs {
    height: 40px;
    width: auto;
    margin-right: 8px;
}

.currentLink {
    color: #303030 !important;
    font-weight: bolder;
}


.content-selection-button {
    margin: 5% 3% 5% 0%;
    margin: 50px 20px 50px 50px;
}

.heading-lg {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900 !important;
    color: white;
    margin: 50px 50px
}

#title {
    background-color: #ff4c68;
    color: white;
}

#MAIN {
    background-color: #1b8ed0;
}

.row-tester {
    margin-right: 0px;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cta-camera {
    color: white;
}

.cta-map {
    color: white;
}

.live-map-custom-col {
    display: block;
    margin-top: 100px;
    margin-left: 45%;
    margin-right: 50%;
}

.live-cam-custom-row {
    margin-top: 100px;
    text-align: center;
}