<%- include('partials/header.ejs') -%>

<div class="row">
  <div class="col-lg-12">
    <h1 style="margin-top: 50px;">Live 360 Video</h1>

  </div>
</div>


<div class="col-lg-12"">

<p style="padding-top: 50px; padding-bottom: 100px; border-style: solid; border-width: .5px;">360 Live-stream content placeholder</p>

    </script>

    <button type="button" class="btn btn-primary" style="margin-top: 25px;">
      <a href="/front-cam" class="LiveCamButton">Back to Demo</a>
    </button>

</div>





<%- include('partials/footer') -%>