<%- include('header') -%>

<h1>This is the front-camera page</h1>


<!-- TODO -->
<!-- 1. Create a view box for embedded 360-video stream -->
<!-- 2. Embed 360 video content -->
<!-- 3. Create Play/Pause button to begin and pause the 360 stream -->
<!-- 4. Add current position variable (for longitude and latitude) -->
<!-- 5.  -->


<%- include('footer') -%>