<%- include('partials/header.ejs') -%>

<div class="row">
  <div class="col-lg-12">
    <h1 style="margin-top: 2rem; margin-bottom: 2rem;">Demo</h1>
  </div>
</div>

<div class="row">

    <div class="col-lg-3">
        <table id="myTable">
            <tr>
                <th>Name:</th>
                <th>Description:</th>
            </tr>
        </table>
    </div>

    <div class="col-lg-9">

        <div id="container360">
            <canvas width="0" height="0" style="height: 0px; width: 0px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: grab;"></canvas>
        </div>
    
        <script type="text/javascript" charset="utf-8">
            (function() {
                var containerSelector = '#container360';
                this.viewer = new Kaleidoscope.Video({
                    source: "/videos/testVideo.mp4",
                    containerId: containerSelector,
                    // Change the following line from height: window.innerHeight | width: window:innderWidth
                    height: 700,
                    width: 1000
                });
                this.viewer.render();
                window.onresize = function() {
                    // Change the following line from height: window.innerHeight | width: window:innderWidth
                    this.viewer.setSize({
                        height: 700,
                        width: 1000
                    });
                }.bind(this);
                document.querySelector(containerSelector).addEventListener('touchend', this.viewer.play.bind(this.viewer));
                document.body.addEventListener('click', function() {
                    this.viewer.play();
                }.bind(this));
            })();
        </script>

    
    </div>

</div>


<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <button type="button" class="btn btn-success" style="margin-top: 25px; margin-left: 40%; margin-right: auto;">
            <a href="/front-cam-live" class="LiveCamButton">Live Camera</a>
          </button>
    </div>
    <div class="col-lg-4"></div>
</div>






<%- include('partials/footer') -%>