<%- include('partials/header.ejs') -%>

<section id="MAIN">

    <div class="row">

        <div class="col-lg-6">
            <h1 class="heading-lg" id="main-heading">See the world like never before.</h1>
            <a href="/live-cams" class="btn btn-dark btn-lg content-selection-button">Live 360-Cam</a>
            <a href="/live-maps" class="btn btn-outline-light btn-lg content-selection-button">Live Map</a>
        </div>

        <div class="col-lg-6">
            <img class="title-image" src="imgs/360-cam-img2.png" alt="360-camera-image">
        </div>
    </div>

</section>
        
        
<%- include('partials/footer.ejs') -%>


<!-- ToDo -->
<!-- 1. Getting a raspberry pi + camera module https://store.picam360.com/#!/PICAM360-4KHDR/p/144496447/category=0 -->
<!-- 2. Capture 360 campus video -->
<!-- 3. Add a content scroll box next to the video content box to populate POIs -->
<!-- 4. Migrate Database Schemas and other database things -->
<!-- 5. Create location service extensions -->
<!--    a. Current location  -->
<!--    b. Simulated movement functions -->
<!--    c. ActivationRadius -->
<!--    d. Reactive (ejs) divs that populate the poi content scroll-box next to the video feed based on POI proximity -->
<!--    e. POI Proximity variable tied to slider (Debug feature) -->
<!--    f.  -->