<%- include('partials/header') -%>

<h1>This is the live maps page!</h1>

<div id="mapid" style="height: 500px; width: 500px; position: absolute; top: 26%; left: 30%;"></div>
<div id="coord"></div>
<div id="Lat"></div>
<div id="Long"></div>
<div id="Error"></div>
<input id="radiusNum" type="number" value="0.5" min="0" max="30" onchange="drawRadius();" step="0.01">
<button type="button" onclick="runSim();">Start Simulation</button>

<script>
    var lat = 47.667477;
    var long = -117.409321;
    var mymap = L.map('mapid').setView([47.6670, -117.4014], 11);
    const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);
    radius = document.getElementById("radiusNum");
    var markers = {};
    let locations = JSON.parse('<%-pois%>');
        
    for (var i = 0; i < locations.length; i++) {  
        var poi = locations[i];
        markers[poi.id] = L.marker(poi.latlng).bindPopup(poi.name);
    }
    
    function showPosition() {
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(drawRadius);
        }else{
            x.innerHTML = "Not able to get current location"
        }
    }
    var circle;
    function drawRadius(){
        if (mymap.hasLayer(circle)) {
            circle.remove();
        }
        circle = L.circle([lat, long], {
            color: 'red',
            radius: radius.value * 1609.34
        }).addTo(mymap)
    }

    var interval;
    function runSim(){
        interval = setInterval(update, 1000);
    }

    var tempMarker;
    function update(){
        if(long > -117.396437){
            clearInterval(interval);
            document.getElementById("Error").innerHTML = "You have walked all the way accross campus!!!";
            return;
        }
        long += 0.001000;
        document.getElementById("Lat").innerHTML = lat;
        document.getElementById("Long").innerHTML = long.toFixed(6);
        if (mymap.hasLayer(circle)) {
            circle.remove();
        }
        circle = L.circle([lat, long], {
            color: 'red',
            radius: radius.value * 1609.34
        }).addTo(mymap);
        for(var i = 0; i < locations.length; i++){
            var poi = locations[i];
            var dist = mymap.distance(poi.latlng, circle.getLatLng());
            var inSide = dist < circle.getRadius();
            if(!inSide){
                markers[poi.id].remove();
            }else{
                markers[poi.id].addTo(mymap);
            }
        }  
    }
</script>
<%- include('partials/footer') -%>