<%- include('header') -%>


<!-- TODO -->
<!-- 1. Create two camera view links (front & rear) -->

<div class="row" style="margin-top: 150px;">
    <div class="col-md-6">
        Front-Camera
        <div class="camera-preview-box">
            <a href="/front-cam"><img class="camera-image-preview" src="imgs/front-cam-img.jpg" alt=""></a>
        </div>
    </div>
    <div class="col-md-6">
        Rear-Camera
        <div class="camera-preview-box">
            <a href="/rear-cam"><img class="camera-image-preview" src="imgs/rear-cam-img.jpg" alt=""></a>
        </div>
    </div>
</div>

<%- include('footer') -%>
